 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ポートフォリオサイトをご覧いただきありがとうございます。大嶋啓暉と申します。<br>社会人になってから２年間ほど不動産業界で働いていたのですが、この度Webエンジニアに転職するべくポートフォリオサイトを公開しました。<br>転職後すぐに戦力になれるよう、平日はポテパンキャンプで現役のRailsエンジニアの方々からコードレビューを受けながら開発を行なっています。
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>メインの言語はRuby、フレームワークはRuby on Railsです。<br>最近はフロントエンドの開発にも興味を持ち、Reactの学習も行っています。<br>学習した内容はQiitaで積極的に発信するように心がけています。<br>稚拙な内容ではございますが、下記リンクからお読みいただけますと幸いです。</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://qiita.com/h-shima" class="btn btn-lg btn-outline">Qiita</a>
                </div>
            </div>
        </div>
    </section>
